// 全局变量定义
$menuText: #475569;
$menuActiveText: #ffffff;
$menuActiveBG: #4f46e5;
$subMenuActiveText: #ffffff;

$menuBg: #ffffff;
$menuHover: #6366f1;

$subMenuBg: #1e1b4b;
$subMenuHover: #312e81;
$sideBarWidth: 250px;

//navbar
$navBarHeight: 50px;
//tagsView
$tagViewHeight: 38px;
//app-main padding
$appMainPadding: 10px;
