// 全局变量定义
$menuText: #bfcbd9;
$menuActiveText: #f7f7f7;
$menuActiveBG: #409eff;
$subMenuActiveText: #f4f4f5;

$menuBg: #304156;
$menuHover: #0f68d4;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;
$sideBarWidth: 275px;

//navbar
$navBarHeight: 50px;
//tagsView
$tagViewHeight: 38px;
//app-main padding
$appMainPadding: 10px;
